<!DOCTYPE html>
<html lang="pt-br">

<head>    
    <%- include('../partials/head') %>
</head>

<body class="container">
    <header>
        <%- include('../partials/header') %>
    </header>
    <main>
        <div class="row">
            <div class="col-sm-12">
                <div class="well">
                    <h4>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere odio earum harum minus quo hic,
                        reiciendis quaerat sunt magni rem quos voluptatem cupiditate laborum veniam, dolore perspiciatis
                        laboriosam laudantium fugit.
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est aliquid corrupti libero quisquam
                        numquam a doloremque quia voluptatum earum aperiam sed ratione eum nihil eos quibusdam labore,
                        consequuntur ipsa. Illum.
                    </h4>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer') %>
    </footer>

</body>

</html>